body{
  background-color: pink;
  text-align: center;
  font-family: sans-serif;
}

h3{
  display: inline;
  color: purple;
}
p{
  display: inline;
}
h4{
  background-color: hotpink;
  color:white;
}

.container {
  position: relative;
  color: black;
  border-style: solid;
  display: inline-block;
}

.memeimage{
  display: inline-block;

}

.btnImage{
  background-color: hotpink;
  color: white;
}

#imagewrap {
  background-color: black;
  width: 400px;
  object-fit: fill;
  height: 400px;
}

.caption {
  position: absolute;
  mix-blend-mode: difference;
  font-size: 22px;
  top: 6px;
  color:white;
  left: 50.15%;
  transform: translate(-50%,0);
}
.caption1 {
  position: absolute;
  color: cyan;
  mix-blend-mode: overlay;
  font-weight: normal;
  font-size: 22px;
  top: 4px;
  left: 50%;
  transform: translate(-50%,0);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 30px 64px;
  text-align: center;
  text-decoration: none;

}



.change img:last-child{display:none;}
.change:hover img:first-child{display:none;}
.change:hover img:last-child{display:inline-block;}
